* {
    margin: 0 auto;
}

.header-title {
    color: #333;
}
a, body {
    color: #333;
}
article a:visited {
    color: #969696;
}
section.main {
    display: block;
    max-width: 750px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
article {
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px 2px 20px 0;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
}
article h1 {
    padding-bottom: 10px;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}
article .summary {
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
    color: #999;

}

nav {
    max-width: 750px;
    background-color: #fff;
    border-color: #f0f0f0;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    height: 56px;
    display: flex;
    align-items: center;
}

nav .header-title a {
    touch-action: manipulation;
    cursor: pointer;
}

nav div {
    justify-content: flex-start;
}

footer {
    color: #9eabb3;
    text-align: center;
    margin-top: 70px;
    height: auto;
    padding: 20px;
}